

<!DOCTYPE html>
<html>
 <head>
 <title>Hostel Info Chatbot</title>
<!-- 
  <script type = "text/javascript">
  //from textBoxes.html
  function sayHi(){
  var txtName = document.getElementById("txtInput");
  var txtOutput = document.getElementById("txtOutput");
  var question = txtInput.value;
  txtOutput.value = {{answer}}
  } // end sayHi
 </script>
-->
 <link rel = "stylesheet"
   type = "text/css"
   href = "textBoxes.css" />
 </head>
 <body>
 <h1>Helpline</h1>
 <form action = "">
  
  <label>Type your question: </label>
  <input type = "text"
    id = "txtInput" />
  <button type="submit" value="submit">Click Me</button>
  <input type = "text"
    id = "txtOutput" />
  
 </form>
 </body>
</html>
