<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>NAVIGATIOn</title>
</head>
<body>
    <nav>
        <div class = "logo">
            <h4>PESU</h4>

        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">LG Form</a></li>
            <li><a href="#">Complaint</a></li>
            <li><a href="#">Help Line</a></li>

        </ul>
    </nav>

    
</body>
</html>