<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="mainbreak"> </div>
    <div id="MainLoginArea">
        <h2>Welcome, seems like you have not registered to the system</h2>
        <h4>Take a moment and register yourself</h4>
    <form method="POST">
        <input class="form-control" placeholder="Desired Username" name="DUsername"><br>
        <input class="form-control" placeholder="Desired Password" name="Dpassword" type="password"><br>
        <input class="form-control" placeholder="Email ID" name="EmalUser"><br>
        <input type="submit" class="btn btn-dark">
        

    </form>
    </div>
    
</body>
</html>