<!doctype html>
<html>
  <head>
    <title>Some title</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div id="start">
      <h1>Start page</h1>
 
      <form action="{{ url_for('my_form') }}" method='POST'>
        <div>
          <textarea id="comment_content" name="comment_content"></textarea>
          <span class="character-counter" ></span></div>
        <div>
          <button type="submit" class="btn waves-effect waves-light">GÖNDER</button>
        </div>
      </form>
 
    </div>
  </body>
</html>