<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div id= "mainbreak"> </div>
    <div id= "MainLoginArea">
        <h2 class="display-1">Login System</h2>
        <form method="POST ">
            <input type="text" aria-label="First name" class="form-control" placeholder="Username" name="Username"><br>
            <input type="text" aria-label="Password" class="form-control" placeholder="Password" name="Password"><br>
            <input type="submit" class="btn btn-dark">            


        </form>
        <a href="Register.html">Register</a>
    </div>
</body>
</html>